<table id="ageing-reports-table", data-source="<%= ageing_reports_table_path %>">
  <thead>
    <tr>
      <th>Farmer Name</th>
      <th>Borrowed Principal</th>
      <th>Remaining Principal</th>
      <th>Interest Rate</th>
      <th>Loan Maturity Date</th>
      <th>Next Payment Date</th>
      <th>Payment 1</th>
      <th>Payment 2</th>
      <th>Payment 3</th>
      <th>Payment 4</th>
      <th>Payment 5</th>
      <th>Payment 6</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>