<%= render 'layouts/advanced_search' %>

<table id="farmer-groups-table", data-source="<%= farmer_groups_table_path(@datatable_search_params) %>">
  <thead>
    <tr>
      <th>Formal Name</th>
      <th>Short Names</th>
      <th>County</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p>
  <%= link_to "Create New Group", farmer_groups_path, :method => :post, class: "btn btn-sm btn-primary"%>
</p>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>