<table id="farmers-table", data-source="<%= farmers_table_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>County</th>
      <th>Crops</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>