<table id="farmers-table", data-source="<%= farmers_table_path(format: :json) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Nearest Town</th>
      <th>County</th>
      <th>National ID</th>
      <th>Organization</th>
      <th>Year of Birth</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>