<%= render 'layouts/advanced_search' %>

<table id="farmers-table", data-source="<%= farmers_table_path(@datatable_search_params) %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Nearest Town</th>
      <th>County</th>
      <th>National ID</th>
      <th>Organization</th>
      <th>Year of Birth</th>
      <th>Gender</th>
      <th>Time Registered</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p>
  <%= link_to "Download Excel", farmers_path(format: "xls"), class: "btn btn-sm btn-primary"%>
</p>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>