<%= render 'layouts/advanced_search' %>

<table id="maize-reports-table", data-source="<%= maize_reports_table_path(@datatable_search_params) %>">
  <thead>
    <tr>
      <th>Farmer Name</th>
      <th>Phone Number</th>
      <th>Farmer Group</th>
      <th>Reporting Time</th>
      <th>KG of Seed Planted</th>
      <th>Bags Harvested</th>
      <th>Grade 1 Bags</th>
      <th>Grade 2 Bags</th>
      <th>Ungraded Bags</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p>
  <%= link_to "Download Excel", maize_reports_path(format: "xls"), class: "btn btn-sm btn-primary"%>
</p>