<table id="nerica-rice-reports-table", data-source="<%= nerica_rice_reports_table_path(format: :json) %>">
  <thead>
    <tr>
      <th>Farmer Name</th>
      <th>Reporting Time</th>
      <th>KG of Seed Planted</th>
      <th>Bags Harvested</th>
      <th>Pishori Bags</th>
      <th>Super Bags</th>
      <th>Other Bags</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>