<table id="users-table", data-source="<%= users_table_path(@datatable_search_params) %>">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>