<br />
<div class="col-md-4"></div>
<div class="col-md-4 well" >
	<%= form_tag 'post_reset_password_form', method: :post do %>
		<fieldset>
			<legend>Reset password</legend>
			<div class="form-group">
		    	<label for="login-credentials">Email</label>
		    	<%= text_field_tag :phone_number_or_email, nil, class: "form-control", placeholder: "Enter Email" %>
		    </div>
		    <div>
		    	<%= submit_tag 'Reset', class: "btn btn-raised btn-primary" %>
		    </div>
		</fieldset>
	<% end %>
</div>
<div class="col-md-4"></div>
