<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
    <body>
      <div>
      <p class="red">Hello,</p>
      <p>
        Welcome to eGranary! There's just one last step to complete, please activate your account by clicking on the following link:
      </p>
      <p><a href="<%= @activation_url %>"><%= @activation_url %></a></p>
      <p>Have a great day!</p>
      <p>The eGranary Team</p>
    <div>
  </body>
</html>
