<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Upload Results</h1>
    <% if @errors.length == 0 %>
      <p>You have successfully uploaded all <%= @count %> crop records</p>
    <% else %>
      <p>You attempted to upload <%= @count %> crop records. The following records had errors, the rest were successfully uploaded</p>
      <ul>
        <% @errors.each do |record| %>
        <li>
          Crop Report with ID Number: <%= record[0] %>: <%= record[1].join(". ") %>
        </li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
