<% if ((flash[:notice]) && (flash[:notice].is_a? Hash)) %>
	<% if flash[:notice][:success] %>
		<% flash[:notice][:success].each do |msg| %>	
			<div class="alert alert-success alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				<%= msg %>
			</div>
		<% end %>
	<% end %>
	<% if flash[:notice][:info] %>
		<% flash[:notice][:info].each do |msg| %>	
			<div class="alert alert-info alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				<%= msg %>
			</div>
		<% end %>
	<% end %>
	<% if flash[:notice][:warning] %>
		<% flash[:notice][:warning].each do |msg| %>	
			<div class="alert alert-warning alert-dismissable">
	  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  			<%= msg %>
			</div>
		<% end %>
	<% end %>
	<% if flash[:notice][:error] %>
		<% flash[:notice][:error].each do |msg| %>	
			<div class="alert alert-danger alert-dismissable">
	  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  			<%= msg %>
			</div>
		<% end %>
	<% end %>
<% end %>
